div.post-container {
    display: flex;
    margin-bottom: 12px;
}

div.avatar-container {
    margin-right: 12px;
    min-width: 6vh;
}
div.avatar-container img {
    border-radius: 50%;
    max-width: 6vh;
    margin-top: calc(6px + 1vmin);
}

div.body-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    color: #291843;
    font-weight: bold;
}

div.info-container {
    display: flex;
    justify-content: space-between;
    font-size: calc(6px + 1vmin);
    padding-left: 10px;
}

div.msg-container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 15px;
    background-color: #F6F6F6;
    border-radius: 10px;
    font-size: calc(8px + 1vmin);
}

div.msg-container p {
    margin: 0px;
}

div.msg-container-show {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: #F6F6F6;
    background-color: #291843;
    border-radius: 10px;
    font-size: calc(8px + 1vmin);
}